.sales {
    margin-bottom: 97px;

    @include mobile {
        margin-bottom: 64px;
    }

    .sales__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
        }
    }

    .sales__item {
        color: $white;
        width: 32%;
        min-height: 260px;
        background-color: $sales-bkg-color;
        margin: 0 0 30px;

        @include flex-center();

        @include tablet {
            width: 32%;
            min-height: 168px;
        }

        @include mobile {
            width: 100%;
        }

        &--woman {
            background-image: url(../images/sales-women-bkg.jpg);
        }

        &--men {
            background-image: url(../images/sales-man-bkg.jpg);
        }

        &--kids {
            background-image: url(../images/sales-kids-bkg.jpg);
        }

        &--accesories {
            background-image: url(../images/sales-shoes-bkg.jpg);
            width: 100%;
            margin: 0;
            min-height: 180px;
        }
    }

    .sales__list-text {
        text-align: center;
        text-transform: uppercase;
    }

    .sales__list-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color: $dark-pink;
        text-transform: uppercase;
    }
}