.header {
    background-color: $black;

    &__wrp {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
    }

    &__controls {
        display: flex;
        align-items: center;
    }

    &__button {
        background-color: transparent;
        border: none;
        margin: 0 34px 0 0;
        outline: none;
    }

    &__logo {
        margin: 0 40px 0 0;
    }

    &__cart {
        position: relative;
    }

    &__cart::after {
        content: '';
        position: absolute;
        background-image: url(../images/icons/round.svg);
        background-size: 19px 19px;
        width: 19px;
        height: 19px;
        right: -11px;
        top: -5px;
        z-index: 0;
    }

    &__cart::before {
        content: '5';
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        right: -5px;
        top: -4px;
        z-index: 1;
    }

    &__person-link {
        margin: 0 34px 0 0;
    }

    &__nav {
        display: none;
    }
}